{% load static %}
<!-- Navbar -->
{% include 'modals/edit_profile.html' %}
{% include 'partials/socials.html' %}
<nav class="navbar navbar-expand-lg bg-bg sticky-top" style="border-bottom: 1px solid var(--sh);">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Toggle button -->
    <a class="navbar-brand mt-2 mt-lg-0 special r-bg" href="/">
      <img src="{% static 'img/favicon.png' %}" height="25" alt="" loading="lazy" />
    </a>
    <!-- Right elements -->
    <div class="d-flex justify-content-between align-items-center">
      <div class="ajax-wrapper"  id="notifications"></div>
      <a class="nav-icon" href="/auth/redirect///">
        <span class="info">refresh</span>
        <i class="fas fa-sync"></i>
      </a>
      <a class="nav-icon" data-toggle="modal" data-target="#modal--edit-profile">
        <span class="info">edit your profile</span>
        <i class="fas fa-user-cog"></i>
      </a>
      <a class="nav-icon" onclick="{
        event.preventDefault();
        notify.toast(
          'you would be logged out from this device',
          {title:'Logout?',type:'question',confirmText:'yeah',cancelText:'no'}
        ).then(function(e){
          if (e == 'confirm'){
            document.location = '/auth/logout'
          }
        })
      }">
        <span class="info">logout</span>
        <i class="fas fa-sign-out-alt"></i>
    </a>
    </div>
    <!-- Right elements -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->
{% comment %}

{% endcomment %}
