<div class="nav-icon_" id="bell">
  <h6 class="fas fa-bell lt-bg"></h6>
</div>
<div class="notifications bg-bg bd-sh-1" id="box" style="display: none;">
    {% for x in notifications %}
    <div class="notifications-item {{x.status}}" data-id="{{x.id}}">
        <div class="text">
            <small class="r-bg d-block">{{x.message|safe}}</small>
              {%if x.href and x.onclick%}
                <a href="{{x.href|safe}}" class="btn btn-sm notification-action onclick href" onclick="{{x.onclick|safe}}">{{x.action|safe}}</a>
              {%elif x.href%}
                <a href="{{x.href|safe}}" class="notification-action href">{{x.action|safe}}</a>
              {%elif x.onclick%}
                <button class="btn btn-sm notification-action onclick" onclick="{{x.onclick|safe}}">{{x.action|safe}}</button>
              {%endif%}
            <p class="text-muted">
              {{x.created|timesince}} ago
            </p>
        </div>
    </div>
    {% endfor %}
</div>