{% extends 'base.html' %}
{% block content %}
<div class="container-lg mt-2" id="profile">
    {% include 'partials/profile.html' %}
</div>
<div class="container-lg mt-4" id="feeds">
    <div class='tabs' data-toggle="tabslet">
        <ul class="list-unstyled row justify-content-center">
            <li class="text-center">
                <a href="#instagram-feeds" class="btn bg-ig bg rounded col-10 col-md-8 col-lg-5 mb-4">
                    <i class="fab fa-instagram"></i>
                    instagram posts
                </a>
            </li>
            <li class="text-center">
                <a href="#youtube-feeds" class="btn bg bg rounded col-10 col-md-8 col-lg-6 mb-4" style="background-color: #FF0000;">
                    <i class="fab fa-youtube"></i>
                    youtube videos
                </a>
            </li>
        </ul>
        <div id="instagram-feeds">
            {% for x in range %}
                <div class="youtube-slide-placeholder">
                </div>
            {%endfor%}
        </div>
        <div id="youtube-feeds">
            {% for x in range %}
                <div class="youtube-slide-placeholder">
                </div>
            {%endfor%}
        </div>
    </div>
</div>
{% endblock %}
{% block fabs %}
{% include 'fabs/main.html' %}
{% endblock %}
{% block scripts %}
{% endblock %}