:root {
    --ig-bg: linear-gradient(
    45deg,
    #405de6,
    #5851db,
    #833ab4,
    #c13584,
    #e1306c,
    #fd1d1d
  );
  --ig-blue: #405de6;
  --ig-purp: #833ab4;
  --ig-pink: #e1306c;
  --ig-oran: #fd1d1d;
}

.bg-ig {
    background: var(--ig-bg);
}

.ig-profile-link {
  color: var(--ig-blue)
}

.ig-tag-link {
  color: var(--ig-pink)
}

.brand:before {
    content: 'S';
    font-family: 'Supermercado One';
    font-size: 3rem;
    border: none;
    padding: none;
    margin: none;
    color: var(--pm)
}

.special {
    font-family: 'Supermercado One';
}

.btn[class*='r-bg']{
  background-position: center;
  transition: background 0.8s;
}
.btn[class*='r-bg']:active {
  background-color: var(--r-bg);
  color: var(--bg);
  background-size: 100%;
  transition: background 0s;
}

.xhide{
    display: none;
}