<div class="modal fade" id="modal--add-instagram" tabindex="-1" role="dialog" aria-labelledby="modal--add-instagram_label"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content bg-bg">
            <div class="modal-header">
                <h5 class="modal-title" id="modal--add-instagram_label">Instagram</h5>
                <button type="button" class="pm close" id="modal--add-instagram_close" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <p class="r-bg">
                        You would get an instant follow from us.
                    </p>
                    <label for="username" class="col-form-label r-bg">instagram handle</label>
                    <input
                    type="text"
                    class="form-control rounded-pill bd-dk-bg-1 bg-lt-bg"
                    value="{{user.username}}"
                    id="ig-username"
                    required
                    placeholder="tell us your instagram username..." 
                    oninput="{
                        let p = $(this).siblings('p').first()
                        if (this.value.length > 3){
                            p.html(
                                `<i class=ig-pink>@${this.value}</i>&nbsp;would get an instant follow from us.`    
                            )
                        } else {
                            p.html(
                                'You would get an instant follow from us.'
                            )
                        }
                    }">
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-evenly">
                <button type="button" class="btn rounded-pill bg-ig-oran bg" data-dismiss="modal">not interested</button>
                <button type="button" class="btn rounded-pill bg-ig bg" onclick="{
                    $('#modal--add-instagram').modal('hide');
                    notify.toast(
                        'You would be notified as soon as it is confirmed.',
                        {
                            type:'ig',
                            title:'Checking your instagram...'
                        }
                    ).then(function(){
                        xEvent(
                            '/xevent/',
                            'set:instagram',
                            `username=${$('#ig-username').val()}`
                        ).then(function(response){
                            if ('message' in response){
                                arguments = argParser(response.message)
                                notify.toast(
                                    arguments.args[0],
                                    arguments.kwargs
                                ).then(function(){
                                    if ('reload' in response && response.reload) {
                                        document.location = `/auth/redirect///`
                                    }
                                })
                            }
                        })
                    })
                }">keep me updated</button>
            </div>
        </div>
    </div>
</div>