{% load static %}
<html>
  {% block head %}
  {% include 'head.html' %}
  <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
  <link rel="stylesheet" href="{% static 'css/auth.css' %}">
  <script type="text/javascript" src="{%static 'js/auth.js' %}" defer></script>
  {% endblock %}
  
  <body>
    {% block body %}
    <header>
        {% block header %}
        <div class="d-flex  pr-1 justify-content-center">
          <img src="/static/img/favicon.png">
        </div>
        {% endblock %}
      <!-- stuffs -->
    </header>
    <main class="mt-5">
        {% block main %}{% endblock %}
      <!-- main content -->
    </main>
    <footer>
        {% block footer %}{% endblock %}
      <!-- extra stuffs -->
    </footer>
    {% block scripts %}
    {% endblock %}
    {% endblock %}
  </body>
</html>