{% extends './base.html' %}
{% block main %}
<form autocomplete="off" class="container" method="POST" action="/auth/login/" id="login-form">
    {%csrf_token%}
    <div class="container-md">
        <div class="row justify-content-evenly">
            {% for field in form %}
            <div class="form-outline mb-4 mr-1 col-12 col-lg-5">
                <label class="form-label r-bg ml-2" for="{{ field.auto_id }}">{{ field.label }}</label>
                {{field}}
                <small class="row">
                    {%for err in field.errors%}
                        <span class="text-muted col-auto" style="font-size: 0.65rem;">
                            {{err}}
                        </span>
                    {%endfor%}
                </small>
            </div>
            {% endfor %}
        </div>
        <div class="row justify-content-evenly pl-2 mb-4">
            <!-- Checkbox -->
            <div class="form-check col-6 col-lg-5">
                <input class="form-check-input rounded" type="checkbox" value="" id="show-password" />
                <label class="form-check-label" for="form1Example3"> show password </label>
            </div>
            <div class="col-6 col-lg-5">
                <!-- Simple link -->
                <a href="/auth/redirect//auth/forgot" class="sc">forgot password?</a>
            </div>
        </div>
        <div class="row justify-content-evenly">
            <button class="btn col-12 col-lg-5 rounded bg-pm lt-bg mb-2" type="submit">
                login
            </button>
            <a href='/auth/redirect//auth/join' class="btn col-12 col-lg-5 rounded bg-sc dk-bg mb-2">
                create account
            </a>
        </div>
    </div>
</form>
{% endblock %}