{% load static %}
<!doctype html>
<html lang="en">
  <head>
    {% include 'head.html' %}
    <title>Streamr|{{user.username}}</title>
  </head>
  <body class="bg-bg r-bg">
    <header>
      {% include 'partials/navbar.html' %}
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
  </body>
  <footer>
    {% block fab_menu %}
    <div class="floating-action-menu d-block">
      <div class="action-menu">
        {% block fabs %}
        {% endblock fabs %}
      </div>
      <div class="action-button">
        <button class="btn btn-lg btn-floating rounded-circle" id="fab-trigger">
          <i class="fas fa-plus"></i>
        </button>
      </div>
    </div>
    {% endblock %}
    {% include 'partials/footer.html' %}
    {% block scripts %}{% endblock %}
  </footer>
</html>
