<head id="head">
  {% load static %}
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- <meta http-equiv="refresh" content="60"> -->
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&family=Supermercado+One&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="{% static 'js/vanillatoasts.js' %}"></script>
  <script src="{% static 'toast/mdtoast.min.js' %}" defer></script>
  <script src="{% static 'toast/cute-alert.js' %}" defer></script>
  <script src="{% static 'js/notify.js' %}" defer></script>
  <link href="{%static 'fontawesome/css/fontawesome.css'%}" rel="stylesheet">
  <link href="{%static 'fontawesome/css/brands.css'%}" rel="stylesheet">
  <link href="{%static 'fontawesome/css/solid.css'%}" rel="stylesheet">
  <link id="mdbootstrap-css" 
    href="{%static 'css/mdb.min.css'%}"
    rel="stylesheet"
  />
  <link id="mdbootstrap-css" 
    href="{%static 'toast/mdtoast.min.css'%}"
    rel="stylesheet"
  />
  <link id="mdbootstrap-css" 
    href="{%static 'toast/style.css'%}"
    rel="stylesheet"
  />
  <script type="text/javascript" src="{% static 'js/theme.js'%}"></script>
  <link
    href="{%static 'css/vanillatoasts.css'%}"
    rel="stylesheet"
  />
    <link
    href="{%static 'css/objects.css'%}"
    rel="stylesheet"
  />
  <script src="{% static 'js/clipboard.min.js' %}"></script>
  {% block head %} {% endblock %}
  {% block custom_style %}
  <style type="text/css" id="style-sheet">
    body {
      background-color: var(--bg);
    }
    {% for colour in colour_list %}
      .{{colour}} {
        color: var(--{{colour}});
      }
    {% endfor %}
  </style>
  <link
    href="{%static 'css/objects.css'%}"
    rel="stylesheet"
  />
  <script src="{% static 'js/main.js' %}"></script>
  <script src="{% static 'js/theme.js' %}"></script>
  {% endblock %}
</head>
<body>
  <main>
    <style type="text/css">
      .center {
        margin: auto;
        margin-top: 10%;
        width: 50%;
        padding: 10px;
      }
      svg {
        padding-top:  0px;
        margin-top: 0px;
        margin-left: 2rem;
        width: 200px;
        height: 200px;
        display:inline-block;
      }
    </style>
    <div class="center text-center">
      <p class="Display-2 r-bg special">{{message|safe}}</p>
        <!-- <img class="display-6 pm" src="{% static 'img/favicon.png' %}" height="150rem"> -->
        <svg version="1.1" id="L4" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
        viewBox="0 0 100 100" enable-background="new 0 0 0 0" xml:space="preserve">
        <circle fill="var(--pm)" stroke="none" cx="6" cy="50" r="6">
          <animate
            attributeName="opacity"
            dur="1s"
            values="0;1;0"
            repeatCount="indefinite"
            begin="0.1"/>    
        </circle>
        <circle fill="var(--pm)" stroke="none" cx="26" cy="50" r="6">
          <animate
            attributeName="opacity"
            dur="1s"
            values="0;1;0"
            repeatCount="indefinite" 
            begin="0.2"/>       
        </circle>
        <circle fill="var(--pm)" stroke="none" cx="46" cy="50" r="6">
          <animate
            attributeName="opacity"
            dur="1s"
            values="0;1;0"
            repeatCount="indefinite" 
            begin="0.3"/>     
        </circle>
      </svg>
    </div>
    <script>
      $(function(){
        xEvent('/auth/xevent', 'confirm:user-agent', `after={{after}}`).then(
          function(response){
            if ('message' in response){
              arguments = argParser(response.message)
              notify.toast(arguments.args[0], arguments.kwargs)
            }
            if ('url' in response){
              setTimeout(function(){
                  document.location = response.url
              }, 5000)
            }
          }
        )
      })
    </script>
  </main>
</body>