{% extends './base.html' %}
{% load static %}
{% block head %}
  {{block.super}}
  <style>
  </style>
{% endblock %}
{% block main %}
<section class="vh-100">
    <div class="container h-100">
      <div class="row d-flex align-items-center justify-content-center h-100" style="
      background-image: url('{% static "img/reunion.png" %}');">
        <div class="col-md-8 col-lg-7 col-xl-6">
        </div>
        <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
          <form method="POST">
            {%csrf_token%}
            <!-- Username input -->
            <div class="form-outline mb-4">
              <input type="username" required id="username-input" name="username"
              class="form-control form-control-lg rounded-pill bd-sh-2 bg-lt-bg dk-bg" />
              <label class="form-label special r-bg" for="username-input">username goes here...</label>
            </div>
  
            <!-- Password input -->
            <div class="form-outline mb-4">
              <input type="password" required id="password-input" name="password"
              class="form-control form-control-lg rounded-pill bd-sh-2 bg-lt-bg dk-bg">
              <label class="form-label special r-bg" for="password-input">enter your password...</label>
            </div>
  
            <div class="d-flex justify-content-around align-items-center mb-4">
              <!-- Checkbox -->
              <div class="form-check">
                <input type="checkbox" id="show-password" class="form-check-input">
                <label class="form-check-label pm special" for="show-password">show password?</label>
              </div>
              <!-- <a class="text-danger" href="#!">Forgot password?</a> -->
            </div>
            <!-- Submit button -->
            <button type="submit" class="btn btn-lg btn-block rounded-pill bd-sh-2 bg-r-bg" style="color: var(--bg)">
              start streaming
            </button>
          </form>
          <button class="btn btn-lg btn-block rounded-pill bd-sh-2 bg-bg r-bg mt-2" onclick="{
            event.preventDefault()
            notify.toast(
                'You can create one right here by submitting the username and password you intend to use.',
                {
                    type:'info',
                    title:'Don\'t have an account?',
                    buttonText:'create my account'
                }
            ).then(function(){
              $('input[type=username]').focus()
            })
          }">
            create an account
          </button>
        </div>
      </div>
    </div>
  </section>
  <!-- javascript -->
  {%endblock%}{% block scripts %}
  <script>
      $(function(){
          $('input:not(input[type=checkbox])').on('change', function(i,e){
            if ($(this).val().length > 2){
              $(this).siblings(`label[for=${this.id}`).hide()
            } else if ($(this).val() == "") {
              $(this).siblings(`label[for=${this.id}`).show()
            }
          })
      })
  </script>
{%endblock%}